<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Translate MessageKeys into multiple languages using Google Translate" name="TE Tech - i18n" version="24.11.07" xsi:schemaLocation="http://plugin.powerschool.pearson.com&#xD;&#xA;        plugin.xsd">
  <publisher name="Benjamin Kemp, TESD">
    <contact email="kempb@tesd.net"/>
  </publisher>
</plugin>